.Item-remove {
  background-color: white;
  color: #f65e81;
  border: none;
  margin-left: 1em;
  outline: none;
  padding: 0;
}

.Item-remove:hover {
  background-color: white;
  text-decoration: underline;
}
